:host{
  .close-icon-block {
    margin-top: 4px;
  }

  .input-block {
    margin-bottom: 15px;
  }

  .update-password-title {
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
