<app-page-hero
  class="d-block contain-sm mb-3 mb-md-5"
  [title]="'Medidas de bioseguridad'"
  [imgUrl]="
    rawContent.content_banner?.url_attachment + rawContent.content_banner?.value
  "
  [url]="''"
  [color]="'black-light'"
></app-page-hero>
<div class="contain pt-3 pt-md-5">
  <div class="px-sm-5 mx-lg-5">
    <div class="row">
      <div
        class="col-md-6 col-xl-4 mb-4 mb-md-5 font-size-2"
        *ngFor="let card of cards"
      >
        <app-banner
          class="d-block"
          [withButton]="false"
          [color]="card.color"
          [banner]="card"
        ></app-banner>
        <p class="mt-4">
          <strong>{{ card.description.title }}</strong>
        </p>
        <p class="mt-3">{{ card.description.text }}</p>
      </div>
    </div>
  </div>
</div>
<div class="w-100 py-5"></div>
