<app-section-header>
	Descubre todo lo que tenemos para ti
</app-section-header>
<div class="px-lg-5">
  <div class="swiper-container overflow-visible d-sm-none" swiper>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide h-unset d-flex align-items-stretch"
        *ngFor="let banner of banners; let i = index"
      >
        <app-banner
          class="d-block px-1"
          [banner]="banner"
          [color]="cardColors[i % cardColors.length]"
        ></app-banner>
      </div>
    </div>
  </div>
  <div class="row no-gutters d-none d-sm-flex align-items-stretch">
    <app-banner
      *ngFor="let banner of banners; let i = index"
      class="d-flex px-1 pb-2 col-md-6 col-xl-4"
      [banner]="banner"
      [color]="cardColors[i % cardColors.length]"
    ></app-banner>
  </div>
</div>
