<app-modal-header title="Recuperar contraseña" (onReturn)="logInUser()" (onClose)="closeModal()"></app-modal-header>
<div class="modal-body scrollbar-primary">
  <div class="px-2 py-2 mx-2">
    <p class="text-center">Ingresa el correo electrónico con el que te registraste. En minutos te enviaremos el proceso para restrablecer tu contraseña.</p>
    <form [formGroup]="recoverForm">
      <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <div class="input-block">
            <label for="email"><strong>Correo electrónico</strong></label>
            <input type="text" id="email" formControlName="email" class="form-control" mdbInput mdbValidate placeholder="correo@ejemplo.com">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer d-flex justify-content-center">
  <app-button class="w-100" [size]="100" [label]="'Recuperar contraseña'" [rounded]="true" [hoverable]="false" (onClick)="recoverPassword()" [disabled]="recoverForm.invalid" *ngIf="!loadingRecover"></app-button>
  <app-modal-loading *ngIf="loadingRecover"></app-modal-loading>
</div>
