<div class="w-100">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="d-flex w-100">
        <div class="col-md-6 px-0">
          <div class="d-flex orange h-100 w-100 justify-content-center align-items-center">

          </div>
        </div>
        <div class="col-md-6 px-0">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="d-flex w-100">
        <div class="col-md-6 px-0">
          <div class="d-flex orange h-100 w-100 justify-content-center align-items-center">

          </div>
        </div>
        <div class="col-md-6 px-0">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="d-flex w-100">
        <div class="col-md-6 px-0">
          <div class="d-flex orange h-100 w-100 justify-content-center align-items-center">

          </div>
        </div>
        <div class="col-md-6 px-0">
          <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
        </div>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
</div>

