<app-modal-header title="Nueva contraseña" (onReturn)="closeModal()" (onClose)="closeModal()"></app-modal-header>
<div class="modal-body scrollbar-primary">
  <div class="px-2 py-2 mx-2">
    <label class="my-0 font-size-1">Ingresa tu nueva contraseña para poder continuar</label>
    <div class="w-100 d-flex my-4"></div>
    <form [formGroup]="newPasswordForm">
      <div class="row my-5">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
          <div class="form-group">
            <div class="input-block">
              <label for="password"><strong>Contraseña</strong></label>
              <input type="password" id="password" formControlName="newPassword" class="form-control" mdbInput mdbValidate>
              <!-- <mdb-error *ngIf="addressForm.get('name').invalid && (addressForm.get('name').dirty || addressForm.get('name').touched)"></mdb-error> -->
            </div>
            <div class="input-block">
              <label for="password"><strong>Repetir contraseña</strong></label>
              <input type="password" id="password" formControlName="repeatPassword" class="form-control" mdbInput mdbValidate>
              <!-- <mdb-error *ngIf="addressForm.get('name').invalid && (addressForm.get('name').dirty || addressForm.get('name').touched)"></mdb-error> -->
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="d-flex flex-column">
      <app-button class="w-100 d-flex" [size]="100" [label]="'Guardar'" [additionalClasses]="'mx-0'" [rounded]="true" [hoverable]="false" [bold]="true" (onClick)="saveNewPassword()" [disabled]="newPasswordForm.invalid" *ngIf="!loadingNewPassword"></app-button>
      <app-modal-loading *ngIf="loadingNewPassword"></app-modal-loading>
    </div>
  </div>
</div>
