<app-category-hero
  [category]="category"
  [color]="isBrandPage ? 'purple' : 'orange'"
  [title]="category.name"
  [imgUrl]="_brand?.image_banner || category?.image_banner"
  class="d-block contain-sm mb-3 mb-md-5"
></app-category-hero>
<div class="contain px-sm-5 pt-5">
  <ul class="mb-3 mb-md-5 custom-breadcrumb">
    <li class="breadcrumb-item">
      <a
        [routerLink]="['/main']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span>Inicio</span></a
      >
    </li>
    <li class="breadcrumb-item">
      <a
        [routerLink]="['/main/category/' + category.friendly_url]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span>{{ category.name }}</span></a
      >
    </li>
    <li class="breadcrumb-item" *ngIf="isBrandPage">
      <a
        [routerLink]="[
          '/main/category',
          category.friendly_url,
          'brand',
          _brand.friendly_url
        ]"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        ><span>{{ _brand.name }}</span></a
      >
    </li>
  </ul>
  <app-category-brand-list
    type="carousel"
    class="d-block mb-5"
    [_brands]="_brands"
    *ngIf="!isBrandPage"
  ></app-category-brand-list>
  <div
    class="d-flex flex-column flex-md-row mb-3 font-size-6 font-family-2 bold-text"
    [ngClass]="{
      'mb-md-4 pb-md-2 flex-md-row-reverse brand-mobile': isBrandPage,
      'mb-md-5': !isBrandPage
    }"
  >
    <div
      class="text-center mt-2 mb-4 mt-md-0 mb-md-0 flex-grow-1 brand-banner-img"
      *ngIf="isBrandPage"
    >
      <img
        class="img-lazy"
        [lazyLoad]="catService?.urlAttachment + _brand?.image_logo_banner"
        defaultImage="./assets/placeholder.svg"
      />
    </div>
    <div>
      Productos
    </div>
  </div>
  <app-product-list
    class="d-block mb-5"
    [filters]="category.filters"
    [_brands]="_brands"
    [isPaginated]="true"
    [isFiltered]="true"
    [isOrdered]="true"
    [itemsPerPage]="itemsPerPage"
	[title]="_brand?.name || category?.name"
  ></app-product-list>
</div>
