<!-- Footer -->
<footer class="font-size-1 white-text">
  <!-- Footer Links -->
  <div class="contain px-3 px-md-5 text-center text-md-left footer-head">
    <!-- Grid row -->
    <div class="row pt-5 pb-2">
      <div class="col-md-3 mx-auto">
        <ul class="d-flex flex-row flex-wrap">
          <li>
            <a [routerLink]="['/info/faq']">Preguntas Frecuentes</a>
          </li>
          <li>
            <a [routerLink]="['/info/terms-and-conditions']">Términos y Condiciones</a>
          </li>
          <li>
            <a [routerLink]="['/info/privacy']">Aviso de Privacidad</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <ul class="d-flex flex-column flex-wrap text-left">
          <li style="display: flex;align-items: center;">
            <a href="https://www.scotiabank.com.pe/libro-de-reclamaciones" target="_blank"> <img style="margin-right: 3px;"
                src="http://scotiabankfiles.azureedge.net/scotiabank-peru/imagenes/2021/iconos/libro.png" alt=""> Libro
              de reclamaciones</a>
          </li>
          <li>
            <a [routerLink]="['/info/contact-us']">Contáctanos</a>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <div class="col-md-3 mx-auto">
        <div class="d-flex flex-row flex-wrap">
          <a href="https://www.facebook.com/ScotiabankPE" target="_blank">
            <mdb-icon class="d-flex p-1" fab icon="facebook-square" size="lg"></mdb-icon>
          </a>

          <a href="https://www.instagram.com/scotiabankpe/" target="_blank">
            <mdb-icon class="d-block p-1" fab icon="instagram" size="lg"></mdb-icon>
          </a>

          <a href="https://www.youtube.com/user/ScotiabankPE/featured" target="_blank">
            <mdb-icon class="d-block p-1" fab icon="youtube" size="lg"></mdb-icon>
          </a>

          <a href="https://www.linkedin.com/company/scotiabank" target="_blank">
            <mdb-icon class="d-block p-1" fab icon="linkedin" size="lg"></mdb-icon>
          </a>

          <a href="https://twitter.com/scotiabankpe" target="_blank">
            <mdb-icon class="d-block p-1" fab icon="twitter" size="lg"></mdb-icon>
          </a>
        </div>
      </div>
      <hr class="clearfix w-100 d-md-none" />
      <!-- Grid column -->
      <div class="col-md-3 mx-auto">
        <div class="d-flex flex-column align-items-center text-center">
          <img src="./assets/home-hero/logo1.png" class="img-fluid w-100 mx-4 footer-logo" />
          <!-- <p class="bold-text">
            La Feria llega gracias a Scotiabank
          </p> -->
        </div>
      </div>
    </div>
    <!-- Grid row -->
  </div>

  <!-- Footer Links -->
  <div class="contain px-3 px-md-5 text-left footer-links"></div>
  <hr class="clearfix w-100" />
  <!-- Copyright -->
  <div class="contain pb-3 d-flex justify-content-between copyright">
    <div class="d-flex flex-row w-100 align-items-end handel">
      Powered by:
      <img src="./assets/handel-logo.svg" class="img-fluid pl-3" style="width: 4.4rem;" />
    </div>
    <div class="d-flex w-100 align-items-end address">
      <label>© 2020 Scotiabank - Av. Dionisio Derteano 102 – San Isidro. Lima 27, Perú.</label>
    </div>
  </div>

  <!-- Copyright -->
</footer>
<!-- Footer -->