<div class="modal-body scrollbar-primary purple confirmation position-relative">
  <label class="white-text w-100 font-size-3 text-center my-3">Te invitamos a participar del pre lanzamiento de <strong>LA FERIA SCOTIABANK ONLINE</strong> sólo para colaboradores seleccionados. Debes haber recibido el mail de invitación </label>
  <ul class="white-text mb-2 px-4">
    <li class="font-size-2 mb-1">Usa el navegador Chrome.</li>
    <li class="font-size-2 mb-1">Activa el botón de compras por Internet desde la app Scotiabank.</li>
    <li class="font-size-2 mb-1">Revisa límites de compras por Internet de tus Tarjetas en la app Scotiabank.</li>
    <li class="font-size-2 mb-1">Tu tarjeta no debe estar vencida, ni en mora.</li>
    <li class="font-size-2 mb-1">Para comprar debes estar afiliado a la clave digital (celular).</li>
    <li class="font-size-2 mb-1">Válido pagando con tus Tarjetas Scotiabank y/o Scotia Puntos.</li>
  </ul>
  <a><mdb-icon fas icon="times" size="x2" class="white-text position-absolute top right p-3" (click)="modalRef.hide()"></mdb-icon></a>
</div>
